<div class="container">
  <div class="row justify-content-center">
    こんにちは、<%= @username %>さん<br>
    作業を開始しましょう。いままでの記録を見ることもできます。
  </div>
  <br>
  <div class="row justify-content-center">
    <a class="col-sm-2 btn btn-danger" href="./timer">作業を記録する</a>
    <div class="col-sm-1"></div>
    <a class="col-sm-2 btn btn-danger" href="./log">いままでの記録</a>
  </div>

  <footer>
  </footer>
</div>
