<div class="container">
  <div class="row justify-content-center">
    ログアウトしました。
  </div>

  <br>

  <div class="row justify-content-center">
    <a class="btn btn-danger" href="./login">ログイン画面へ</a>
  </div>
</div>
