<script src="timer.js"></script>
<div class="container">
  <div class="row justify-content-center">
      <p class="display-1" id="timer">00:00</p>
  </div>

  <div class="row justify-content-center">
    <input type="button" class="col-sm-1 btn btn-danger" id="work25" value="作業開始" onClick="starttimer(25*60, 0);">
    <input type="button" class="col-sm-1 btn btn-info" id="rest5" value="休憩" onClick="starttimer(5*60, 1);">
  </div>

  <div class="row justify-content-center">
    <input type="textarea" class="col-sm-1 form-control" value="5" id="workminite"  onChange="changeButtonText('workminite', 'work')">
    <input type="button" id="work" class="btn btn-danger" value="5分の作業開始" onClick="starttimer(2, 0, 0);">
  </div>
</div>
